*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  color: #4C5866;
  
}
.container{

    /* max-width: 1440px;
    
    width: 100%;
    margin-left: auto;
    margin-right: auto; */
    
}
.header{
    min-height: 80px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    max-width: 1440px;
    margin-right: auto;
    width: 58%;
    
}
.header-container{
    border-bottom: 1px solid #DDDDDD;
}

.header-buttons{
    margin-right: 8px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.header-buttons__button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.1s;
}
.header-buttons__button:hover{
    color: #7875FE;
}
.menu-container__button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.1s;
}
.menu-container__button:hover{
    color: #7875FE;
}
.header-buttons__svg-buttons{
    margin-left: -27px;
    display: flex;
    justify-content: space-between;
}
.header-buttons__s-button{
    margin-left: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-buttons__svg-button{
    
    transition: 0.1s;
}
.header-buttons__s-button:hover .header-buttons__svg-button{
    stroke: #7875FE;
    
}
.logo{
    margin-left: -4px;
    display: flex;
}

.header-buttons-mobile{
    margin-left: auto;
    margin-bottom: 16px;
    margin-right: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.menu{

}
.banner{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    width: 58%;
    height: 620px;

}
.menu-container{
    display: none;
    background-color: #EBEBEB;
    height: 400px;
    position: absolute;
    width: 100%;
    transform: translateY(189px);
}
.menu-container__svg {
    margin-left: 16px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.menu-container__buttons{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.banner-text__h{
    width: 80%;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 31px;
}
.banner-text__d{
    font-size: 18px;
    color: #85859B;
    width: 72%;
    line-height: 27px;
    margin-bottom: 29px;
}
.banner-button{
    display: flex;
    width: 255px;
    height: 70px;
    border: 1px solid #7875FE;
    color: #7875FE;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
}
.banner-button:hover{
    background-color: #7875FE;
    color: white;
}
.banner-img{
    margin-top: 55px;
    z-index: -1;
}
.examples{
    height: 973px;
    background-color: #EBEBEB;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 61%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.card{
    display: flex;
    margin-top: 90px;
    height: 139px;
    width: 350px;
    padding-top: 19px;
    border-top: 1px solid #C0C0C0;
}
.card-text{
    display: flex;
    margin-top: 23px;
    flex-direction: column;
    margin-right: -73px;
    align-items: center;
    
}
.card-img{

}
.card-text__h{
    font-weight: 500;
    font-size: 18px;
    color: #666666;
    margin-bottom: 5px;
    width: 70%;
}
.card-text__d{
    font-size: 18px;
    line-height: 27px;
    color: #85859B;
    width: 70%;
}
.box-example{
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: auto;
    max-width: 1440px;
    margin-top: 70px;
    margin-right: auto;
    width: 61%;
}
.box-img{
    
}
.box-text{
    display: flex;
    flex-wrap: wrap;
    width: 29%;
    margin-right: 11px;
    margin-top: 60px;
    flex-direction: column;
}
.box-text__h{
    line-height: 40px;
    font-size: 40px;
    width: 30%;
    margin-bottom: 14px;
    color: #666666;
}
.box-text__d{
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 31px;
    color: #85859B;

}
.products{
    height: 645px;
    max-width: 1440px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 61%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.product{

}
.product-img{
    margin-bottom: 35px;
}
.product-h{
    margin-top: -13px;
    font-size: 30px;
    width: 255px;
    color: #666666;
}
.product-t{
    margin-top: 15px;
    width: 255px;
    font-size: 14px;
    color: #B5B5BD;
}
.product-d{
    margin-top: 10px;
    font-size: 18px;
    width: 255px;
    margin-bottom: 10px;
    line-height: 30px;
    color: #85859B;
}
.product-link{
    display: flex;
    width: 255px;
    margin-top: 20px;
    cursor: pointer;
    align-items: center;
}
.product-link__b{
    transition: 0.1s;
    color: #7875FE;
}
.product-link__s{
    margin-left: 5px;
}
.product-link__svg{
    transition: 0.1s;
}
.product-link:hover .product-link__b  {
    color: #4946B4;
    
}
.product-link:hover .product-link__svg  {
    fill: #4946B4;
    
}
.partners{
    background-color: #EBEBEB;
    
    
}
.logos{
    height: 315px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 61%;
    margin-left: auto;
    max-width: 1440px;
    margin-right: auto;
    align-items: center;
}
.partner_logo{
    display: flex;
    border: 1px solid #C4C4C4;
    width: 255px;
    height: 135px;
    justify-content: center;
    align-items: center;
}
.partner_frame{

}
.partner_logo_img{

}
.sale{
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1440px;
    width: 58%;
    margin-left: auto;
    margin-right: auto;

}
.sale-text__h{
    line-height: 40px;
    font-size: 40px;
    margin-bottom: 10px;
    color: #666666;

}
.sale-text__d{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #85859B;
}
.sale-img{
    display: flex;
    align-items: flex-end;
}
.sale-text{
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sale-button{
    display: flex;
    width: 255px;
    height: 70px;
    border: 1px solid #7875FE;
    color: #7875FE;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
}
.sale-button:hover{
background-color: #7875FE;
color: white;
}
.footer{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #4C5866;
}
.footer-space{
    display: flex;
    justify-content: space-between;
    width: 59%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}
.contacts{
    margin-right: 6px;
    display: flex;
    width: 186px;
    justify-content: space-between;
}
.contact{
    cursor: pointer;
}
.contact-svg{
    
    transition: 0.1s;
}
.contact:hover .contact-svg{
    fill: #DAD9FB;
}
.logo2{
    display: flex;
    margin-left: 4px;
    align-items: center;
}
.simple{
    height: 21px;
    display: flex;
    background-color: #EBEBEB;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.name{
    display: flex;
    font-size: 13px;
    color: #4C5866;
}
h6{
    font-size: 13px;
    color: #BCBCBC;
    margin: 0px 3px;
}

@media screen and (min-width: 1180px){
    .header{width: 1110px;}
    .banner{width: 1110px;}
    .cards{width: 1110px;}
    .box-example{width: 1110px;}
    .products{width: 1110px;}
    .logos{width: 1110px;}
    .sale{width: 1110px;}
    .footer-space{width: 1110px;}
}
@media screen and (max-width: 1179px){
    .header{width: 95%;}
    .banner{width: 95%;}
    .cards{width: 95%;}
    .box-example{width: 95%;}
    .products{width: 95%;}
    .logos{width: 95%;}
    .sale{width: 95%;}
    .footer-space{width: 95%;}
}
@media screen and (max-width: 800px){
    .banner-img{
        display: none;
    }
    .box-img{
        width: 100%;
        margin-top: 28px;
    }
    .box-text{
        margin-top: 8px;
        width: 100%;
    }
    .box-text__h{
        width: 100%;
        font-size: 24px;
        margin-bottom: 8px;
    }
    .box-text__d{
        width: 105%;
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 11px;
    }
    
    .box-example{
        display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: auto;
    margin-top: 70px;
    margin-right: auto;
    width: 90%;
    }

}
@media screen and (max-width: 1106px){
    .examples{
        height: 1284px;
    }
    .box-example{
        flex-wrap: nowrap;
    }
    .box-img{
        width: 100%;
    }
    .products{
        height: 1066px;
    }
    .sale-img{
        width: 62%;
        display: flex;
        align-items: center;
    }
}


@media screen and (min-width: 649px){
    .sale-img2{
        display: none;
    }
    .header-buttons__svg-buttons{
        width: 14%;
    }
    .menu-container{
        display: none;
    }
    .header-buttons-mobile{
        display: none;
    }
}
@media screen and (max-width: 925px){
    .logo{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .header-buttons{
        width: 100%;
    }
}

@media screen and (max-width: 648px){
    .cards{
        display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }
    .contacts{
        padding-top: 20px;
    width: 250px;
    justify-content: space-evenly;
    margin-right: 0px;
    }
    .footer-space{
        justify-content: center;
    }
    .logo2{
        display: flex;
        justify-content: center;
        padding: 0 76px;
        padding-bottom: 18px;
        height: 25px;
        border-bottom: 1px solid #DDDDDD;
        
    }
    .footer{
        height: 127px;
    }
    .sale{
        flex-direction: column-reverse;
        height: 574px;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }
    .sale-img1{
        display: none;
    }
    .sale-img{
        width: auto;
        display: flex;
    align-items: flex-end;
    margin-top: 60px;
    }
    .partners{
        padding-bottom: 40px;
        padding-top: 40px;
    }
    
    .sale-text__d{
        font-size: 16px;
        margin-bottom: 31px;
        line-height: 27px;
    }
    .sale-text__h{
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 12px;
        color: #666666;
    }
    .sale-button{
        width: 144px;
        margin-bottom: 57px;
        height: 50px;
    }
    .sale-text{
        width: 100%;
        margin-top: -8px;
    }
    .logos{
    height: 333px;

    }
    .product-d{
        margin-top: 6px;
        font-size: 16px;
        width: 255px;
        margin-bottom: 10px;
        line-height: 30px;
        color: #85859B;
    }
    .product-t{
        margin-top: 10px;
        width: 255px;
        font-size: 14px;
        color: #B5B5BD;
    }
    .product-h{
        margin-top: -13px;
        font-size: 24px;
        width: 255px;
        color: #666666;
    }
    .products{
        height: 953px;
        margin-top: 3px;
        margin-bottom: 50px;
    }
    .examples{
        height: 1181px;;
    }
    .box-img{
        width: 100%;
        margin-top: 28px;
    }
    .box-text{
        margin-top: 8px;
        width: 100%;
    }
    .box-text__h{
        width: 100%;
        font-size: 24px;
        margin-bottom: 8px;
    }
    .box-text__d{
        width: 105%;
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 11px;
    }
    .card-img{
        width: 90%;
    }
    .box-example{
        display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: auto;
    margin-top: 70px;
    margin-right: auto;
    width: 90%;
    }
    .card-text{
        display: flex;
        margin-top: 23px;
        width: 46%;
        flex-direction: column;
        margin-right: -73px;
    }
    .card{
        display: flex;
        margin-top: 58px;
        margin-bottom: -81px;
        height: 139px;
        padding-top: 19px;
        border-top: 1px solid #C0C0C0;
    }
    .card-text__h{
        font-size: 16px;
    }
    .card-text__d{
        width: 100%;
        font-size: 16px;
    }
    .banner-text__h{
        font-size: 30px;
        line-height: 32px;
        margin-top: -6px;
        margin-bottom: 13px;
    }
    .banner-text__d{
        width: 96%;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 22px;
    }
    .banner-button{
        font-size: 18px;
        width: 144px;
        height: 50px;
    }
    .banner{
        width: 91%;
        height: 328px;
    }
    .banner-img{
        display: none;
    }
    .logo{
        margin-bottom: 17px;
        width: 100%;
    display: flex;
    justify-content: center;
    height: 41px;
    border-bottom: 1px solid #DDDDDD;
    align-items: center;
        
    }
    .header-buttons__s-button{
        margin-left: 30px;
    }
    .header{
        height: 105px;
        min-height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .header-buttons{
        display: none;
    }
}
/* @media screen and (max-width: 920px){
    .logo{
        width: 453px;
    }
} */
@media screen and (max-width: 536px){
    .sale{
        height: 574px;
    }
    .logos{
        height: 600px;
    }
    .products{
        height: 1895px;
    }
    .examples{
        height: 1181px;;
    }
    .banner{
        height: 328px;
    }
}